.Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 20px;
        color: rgb(96, 83, 143);
    }
    h3 {
        font-size: 15px;
        color: black;
    }
}
